.u-background-primary-blue {
  background-color: $primary-blue;
}
.u-background-primary-light-blue {
  background-color: $primary-light-blue;
}

.u-background-white {
  background-color: $white;
}
.u-background-dark-red {
  background-color: $dark-red;
}

.u-background-light-grey {
  background-color: $light-grey;
}

.u-background-melo-grey {
  background-color: $melo-grey;
}
.u-background-black {
  background-color: black;
}
.u-background-medium-grey {
  background-color: $medium-grey;
}

.u-background-dark-grey {
  background-color: $dark-grey;
}

.u-background-darkest-grey {
  background-color: $darkest-grey;
}

.u-background-green {
  background-color: $primary-green;
}
