/*body {*/
/*  transform: rotate(-90deg);*/
/*}*/

@font-face{
  font-family: "IranSans";
  src: url('./fonts/IRANSansWeb.ttf') format('truetype'),
  url('./fonts/IRANSansWeb.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
body {
  font-family: "IranSans", serif !important;
  direction: rtl;
  text-align: right !important;
  overflow-x: hidden;
  -webkit-print-color-adjust: exact;
}

.w-100 {
  width: 100%
}

.bg-white {
  background-color: white !important;
}

.u-text-black {
  color: black !important;
}

.px-3 {
  padding-right: 15px;
  padding-left: 15px;
}

.u-fontVerySmall {
  font-size: 10px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-2 {
  padding-right: 10px;
  padding-left: 10px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.u-fontLarge {
  font-size: 16px;
}

.u-border-bottom-dark {
  border-bottom: 1px solid black;
}

.u-fontWeightBold {
  font-weight: bold;
}

.mt-1 {
  margin-top: 5px;
}

.flex-column {
  flex-direction: column;
}

.pb-1 {
  padding-bottom: 5px;
}

.u-background-black {
  background-color: black;
}

.u-text-white {
  color: white;
}

.mr-2 {
  margin-right: 10px;
}

.p-1 {
  padding: 5px;
}
