// general styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IranSans" !important;
  direction: rtl;
  text-align: right !important;
  overflow-x: hidden;
}

button, input, textarea {
  font-family: "IranSans";
}


