$white: #ffffff;
$black: #000000;
$red:#E13F18;
$primary-yellow: #f2c94c;
$primary-blue: #168FD5;
$primary-light-blue:#65BBEE;
$primary-ll-blue: #C3DBF5;
$primary-green: #67b977;
$darkest-grey:#4F595B;
$dark-grey: #949C9F;
$medium-grey: #C8CBD0;
$light-grey: #F0F1F6;
$melo-grey: #F7F7F7;
